h1{
    color:chocolate;
}
body{
    background-color:bisque;
}

#encabezado{
    color: #727272;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}


button{
    background-color:chocolate; 
    border: 2px;
    color: white;
    text-align: center;
    text-decoration:solid;
    font-size: 15px;
}
table {
    width:1025px;
    font:normal 15px Arial;
    text-align:center;
    border-collapse:collapse;
}
table th {
    width: 500px;
    font:bold 15px Arial;
    background-color:coral;
}
table td{
    width:500px;
    font:normal 13px Arial;
    text-align:center;
    border-collapse:collapse;
}
#columna{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    border: rgb(255, 252, 252) ;

}
.fila{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    border: rgba(255, 252, 252, 0.062) ;
}

.id{
    background-color:burlywood;
    display: flex;
    margin-right: 1px;
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
   
}
.matri{
    background-color: burlywood;
    display: flex;
   margin-left: 1px;
   margin-right: 1px;
    width: 180px;
    height: 50px;
    
}
.nom{
    background-color: burlywood;
    display: flex;
    width: 420px;
    height: 50px;
    text-align: center;
}
.mate{
    background-color: burlywood;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.quimi{
    background-color: burlywood;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.fisi{
    background-color: burlywood;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    
}
.geo{
    background-color: burlywood;
    display: flex;
    margin-left: 1px;
   margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.prom{
    background-color:chocolate;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
#iden{
    background-color: burlywood;
    display: flex;
    width: 120px;
    text-align: center;
}
#matricula{
    background-color: burlywood;
    
    width: 150px;
    text-align: center;
}
#nombre{
    background-color: burlywood;
    
    width: 1200px;
    text-align: center;
}
#matematicas{
    background-color: burlywood;
    
    width: 150px;
    text-align: center;
}
#quimica{
    background-color: burlywood;
    
    width: 150px;
    text-align: center;
}
#fisica{
    background-color: burlywood;
    
    width: 150px;
    text-align: center;
}
#geografia{
    background-color: burlywood;
    
    width: 150px;
    text-align: center;
}
#promedio{
    background-color:chocolate;
    width: 150px;
    text-align: center;
}



-----------HTML----------
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <script src="/html/alumnos.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">

</head>
<body>
    <center>

        <div class="encabezado">
            <h1>Examen Corte 1</h1>
        </div>
          
        <div class="table">
            
            <table>
                <tr>
    
               <th class="colu" id="iden">ID </th>
               <th class="colu" id="matricula">Matricula </th>
               <th class="colu" id="nombre">Nombre </th>
               <th class="colu" id="matematicas"> Matematicas </th>
               <th class="colu" id="quimica">Quimica </th>
               <th class="colu" id="fisica">Fisica </th>
               <th class="colu" id="geografia">Geografia </th>
               <th class="colu" id="promedio">Promedio </th>
               <tr>
            </table>
            <br>
            <div id="respuesta">         

         </div>
        
        </div>
        <br>
        <div class="botones">
            <button id="btnmostrar" >Mostrar</button>
            <button id="btnLimpiar" >Limpiar</button>
       </div>
       <br>
           <h3 id="lblpromedio">Promedio general: </h3>
        </div>
      
    </center>
</body>
<script src="/js/app.js"></script>
</html>


